@model Entities.Icon
@{
    ViewData["Title"] = "AdminIconUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h4 class="mb-4">İcon Güncelle</h4>
        <form action="/Icons/AdminIconUpdate" method="post" >
            <div class="mb-3">
                @Html.HiddenFor(x=>x.Id)
                <label for="exampleInputEmail1" class="form-label">İcon Adı</label>
                <input type="text" asp-for="@Model.IconName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                @Html.ValidationMessageFor(x => x.IconName, "", new { @style = "color:red" })
            </div>

            <button type="submit" class="btn btn-primary">Güncelle</button>
        </form>
    </div>
</div>


