@model IEnumerable<Entities.Category>

<div style="overflow:hidden;overflow-x:scroll;height:50px;">
    <ul class="portfolio-categ filter mb-md-5 mb-4 p-0">

        @foreach (var item in Model)
        {
            int count = 1;
            count += 1;
            <li class="cat-item-@(count.ToString())">
                <a href="@item.Id" title="Category @(count.ToString())">@item.CategoryName</a>
            </li>
        }




    </ul>
</div>
