
<ul class="portfolio-categ filter mb-md-5 mb-4 p-0 justify-content-center">
    <li class="port-filter all active">
        <a href="#">All</a>
    </li>
    <li class="cat-item-1">
        <a href="#" title="Category 1">Nature</a>
    </li>
    <li class="cat-item-2">
        <a href="#" title="Category 2">Fashion</a>
    </li>
    <li class="cat-item-3">
        <a href="#" title="Category 3">Wedding</a>
    </li>
    <li class="cat-item-4">
        <a href="#" title="Category 4">Studio</a>
    </li>
</ul>