@using Entities
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}
<link href="c:\users\yusuf\source\repos\portfoliowebsite\portfolio\wwwroot\portfolio\assets\css\style-starter.css" rel="stylesheet" />
<script src="c:\users\yusuf\source\repos\portfoliowebsite\portfolio\wwwroot\portfolio\assets\js\bootstrap.min.js"></script>
<script src="c:\users\yusuf\source\repos\portfoliowebsite\portfolio\wwwroot\portfolio\assets\js\jquery-3.3.1.min.js"></script>



<div style="overflow:hidden;overflow-x:scroll;height:50px;">
    <ul class="portfolio-categ filter mb-md-5 mb-4 p-0">

        @foreach (var item in Model)
        {
            int count = 1;
            count += 1;
            <li class="cat-item-@(count.ToString())">
                <a href="@item.Id" title="Category @(count.ToString())">@item.CategoryName</a>
            </li>
        }

        @*         <li class="cat-item-1">
        <a href="#" title="Category 1">Nature</a>
        </li>
        <li class="cat-item-2">
        <a href="#" title="Category 2">Fashion</a>
        </li>
        <li class="cat-item-3">
        <a href="#" title="Category 3">Wedding</a>
        </li>
        <li class="cat-item-4">
        <a href="#" title="Category 4">Studio</a>
        </li>*@


    </ul>
</div>


