@using Entities
@model List<Image>
@{
    ViewData["Title"] = "AdminGetAllImage";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table id="datatable" class="table table-hover text-center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Path</th>
            <th>Kategori</th>
            <th>Tarih</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x=>x.Id))
        {
            <tr>
                <td><b>@item.Id</b></td>
                <td><a href="~/images/@item.ImagePath"><img src="~/images/@item.ImagePath" width="100" height="100" /></a></td>
                <td>@item.Category.CategoryName</td>
                <td>@item.Date</td>
                <td><a type="button" class="btn btn-danger" href="/Image/AdminDeleteImage/@item.Id">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts{ 
    <script src="~/js/datatable_file.js"></script>
}