@using Entities
@model List<MyService>
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}

<!-- /services-2-->
<section class="w3l-bottom-grids-6 py-5">
    <div class="container pt-lg-3 pb-lg-5 py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 grids-feature mt-md-5 mt-4">
                    <div class="area-box">
                        <span class="@item.ServiceIcon"></span>
                        <h4>
                            <a href="" class="title-head">
                                @item.ServiceName
                            </a>
                        </h4>

                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- //services-2-->
