@model Entities.Category
@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h4 class="mb-4">Kategori Ekle</h4>
        <form method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Kategori Adı</label>
                <input type="text" asp-for="@Model.CategoryName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                @Html.ValidationMessageFor(x => x.CategoryName, "", new { @style = "color:red" })
            </div>

            <button type="submit" class="btn btn-primary">Kategori Ekle</button>
        </form>
    </div>
</div>

