
@model Entities.Image
@{
    ViewData["Title"] = "ImageAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h4 class="mb-4">Fotoğraf Yükle</h4>
        <form method="post" action="/AdminHome/ImageAdd" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Fotoğraf Seç</label>
                <input class="form-control bg-dark" type="file" asp-for="@Model.ImagePath" id="formFileMultiple" multiple required>
            </div>
          
            <label for="floatingSelect" class="form-label">Lütfen Bir kategori Seçiniz :</label>
            <div class="form-floating mb-3">
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-select", @id = "floatingSelect" })
            </div>
 
            <button type="submit" class="btn btn-success">Kaydet</button>

        </form>
    </div>
</div>







