
<div class="sidebar pe-4 pb-1">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="#" class="navbar-brand mx-4 ">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Admin Paneli</h3>
        </a>
      
        <div class="navbar-nav w-100">
            <a href="/AdminHome/ImageAdd" class="nav-item nav-link "><i class="fa fa-th me-1"></i>Fotoğraf Ekle</a>
            <a href="/Image/AdminGetAllImage" class="nav-item nav-link "><i class="fa fa-list me-1"></i>Tüm Fotoğraflar</a>
            <a href="/FooterImages/AdminFooterImageGetAll" class="nav-item nav-link "><i class="fa fa-list me-1"></i>Alt fotoğraf</a>
            <a href="/AdminHome/CategoryAdd" class="nav-item nav-link"><i class="fa fa-table me-1"></i>Kategori Ekle</a>
            <a href="/Categroy/AdminGetAllCategory" class="nav-item nav-link"><i class="fa fa-building me-1"></i>Tüm Kategoriler</a>
            <a href="/About/AdminGetAllAbout" class="nav-item nav-link"><i class="fa fa-road me-1"></i>Hakkımda Bilgisi</a>
            <a href="/Services/AdminGetAllService" class="nav-item nav-link"><i class="fa fa-bookmark me-1"></i>Hizmet Bilgisi</a>
            <a href="/Icons/IconIndex" class="nav-item nav-link"><i class="fa fa-bookmark me-1"></i>İcon Tablosu</a>
            <a href="/AdminAddress/Index" class="nav-item nav-link"><i class="fa fa-address-book me-1"></i>Adress Bilgileri</a>
            <a href="/AdminEmail/Index" class="nav-item nav-link"><i class="fa fa-leaf me-1"></i>Email Bilgileri</a>
            <a href="/AdminPhoneNumber/Index" class="nav-item nav-link"><i class="fa fa-phone me-1"></i>Telefon Bilgileri</a>
            <a href="/Image/Index" target="_blank" class="nav-item nav-link"><i class="fa fa-chart-bar me-1"></i>Siteye Git</a>
        </div>
    </nav>
</div>

