 <!-- middle slider -->
<!--<div class="projects" id="special">
    <div class="projects-grids">
        <div class="istagram-feeds">
            <div class="projects-w3l-grid-info">
                <a href="#">
                    <img src="~/Portfolio/assets/images/s1.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fa fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#">
                    <img src="~/Portfolio/assets/images/s2.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fa fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#">
                    <img src="~/Portfolio/assets/images/s3.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fa fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#">
                    <img src="~/Portfolio/assets/images/s4.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fa fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#">
                    <img src="~/Portfolio/assets/images/s5.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fa fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#">
                    <img src="~/Portfolio/assets/images/s1.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fa fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#">
                    <img src="~/Portfolio/assets/images/s3.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fa fa-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="projects-w3l-grid-info">
                <a href="#">
                    <img src="~/Portfolio/assets/images/s2.jpg" class="img-fluid" alt="" />
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-top">
                        <span class="fa fa-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>-->