<!-- footer-28 block -->
<footer class="footer-28 py-5">
    <div class="container py-lg-3">

        <div class="row footer-top-28">
            <div class="col-lg-6 footer-list-28 pr-lg-5 mt-5">
                <h6 class="footer-title-28">İletişim bilgileri</h6>
                <p class="pr-lg-5">
                    Lorem ipsum dolor sit amet, consectetur elit. Nihil sit dicta, commodi maxime
                    provident quidem non, amet.
                </p>

                <div class="main-social-footer-28 mt-3">
                    <ul class="social-icons">
                        <li class="facebook">
                            <a href="#link" title="Facebook">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#link" title="Twitter">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="dribbble">
                            <a href="#link" title="Dribbble">
                                <span class="fa fa-dribbble" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="google">
                            <a href="#link" title="Google">
                                <span class="fa fa-google" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-4 col-6 footer-list-28 mt-5">
                        <h6 class="footer-title-28">Kullanışlı bağlantılar</h6>
                        <ul>
                            <li><a href="~/Portfolio/about.html">Hakkımızda</a></li>
                            <li><a href="~/Portfolio/services.html">Hizmetler</a></li>
                            <li><a href="~/Portfolio/blog.html">Blog Yazıları</a></li>
                            <li><a href="#pricing">Fiyatlandırma planları</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-6 footer-list-28 mt-5">
                        <h6 class="footer-title-28">Sayfa bağlantıları</h6>
                        <ul>
                            <li><a href="#">Neden</a></li>
                            <li><a href="~/Portfolio/about.html">Hakkımızda</a></li>
                            <li><a href="~/Portfolio/about.html">fotoğrafçılar</a></li>
                            <li><a href="#pricing">Fiyatlandırma planları</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-6 footer-list-28 mt-5">
                        <h6 class="footer-title-28">Yardım</h6>
                        <ul>
                            <li><a href="#privacy">Gizlilik Politikası</a></li>
                            <li><a href="#support">Destek olmak</a></li>
                            <li><a href="#terms">Şartlar ve koşullar</a></li>
                            <li><a href="#license">Lisans ve kullanımlar</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="midd-footer-28 align-center py-4 mt-5">
            <p class="copy-footer-28 text-center">
                &copy; 2022 Portfolio. Tüm Hakları Saklıdır.
                </a>
            </p>
        </div>
    </div>
