<!-- footer-28 block -->
<footer class="footer-28 py-5">
    <div class="container py-lg-3">

        <div class="row footer-top-28 text-center">
            <div class="col-lg-6 footer-list-28 pr-lg-5 mt-5">
                <h6 class="footer-title-28">Sosyal Medyada Biz</h6>


                <div class="main-social-footer-28 mt-3">
                    <ul class="social-icons">
                        <li class="facebook">
                            <a href="#link" title="Facebook">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#link" title="Twitter">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="dribbble">
                            <a href="#link" title="Dribbble">
                                <span class="fa fa-dribbble" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="google">
                            <a href="#link" title="Google">
                                <span class="fa fa-google" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-4 col-6 footer-list-28 mt-5">
                        <h6 class="footer-title-28">Bağlantılar</h6>
                        <ul>
                            <li><a href="~/About/About">Hakkımızda</a></li>
                            <li><a href="~/Services/Services">Hizmetler</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-6 footer-list-28 mt-5">
                        <h6 class="footer-title-28">Yardım</h6>
                        <ul>
                            <li><a href="/Contact/Add">İletişim</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="midd-footer-28 align-center py-4 mt-5">
            <p class="copy-footer-28 text-center">
                &copy; 2023. Tüm Hakları Saklıdır.
                </a>
            </p>
        </div>
    </div>
