
<section class="bannerhny w3pvt-banner" id="home">
    <div class="container">
        <div class="banner-info text-center mx-auto">
            <div class="w3pvt-logo align-self">
                <span class="fa fa-camera" aria-hidden="true"></span>
                <h3>Kalbinizi Büyüleyen Anları Yakalamak.</h3>
            </div>
        </div>
    </div>
</section>